*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App-header {
  background-color: #2e2b2b;
  color: white;
  text-align: center;
}

.App-header h1 {
  line-height: 4rem;
  font-size: 1.5em;
}

.form-container {
  width: 80%;
  margin: 4rem auto 0 auto;
  display: grid;
  place-items: center;
}

.form-container label {
  display: block;
}

.form-container label > * {
  display: block;
}

.login {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

[class^='question-'] {
  text-align: center;
  display: grid;
  gap: 1rem;
}

[class^='question-'] label {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

[class^='question-'] label > * {
  display: inline;
}

#alertBox {
  margin: 0 auto;
  margin-top: 1rem;
  padding: 2rem;
  text-align: center;
  background-color: #f04d4d;
  color: white;
  opacity: 0;
  transition: opacity 100ms linear;
}

#alertBox.active {
  opacity: 1;
}
